<h1> {{ page_title}}</h1>

{% schema %}
{
  "name": "Liquid Objects",
  "settings": [
    {
      "id": "liq-obj",
      "type": "text",
      "label": "Add your text"
    }
  ],

  "presets": [
    {
      "name" :"Liquid obejcts",
      "category":"reference"
    }

  ]
}
{% endschema %}